@import '../_variable.scss';

.ghost-body-container {
  align-items: center;
  color: #f2f2f2; //lighten($deni-dialog-base-color, 60);
  display: inline-flex;
  flex: 1;
  font-size: 14px;
  justify-content: space-around;
  padding: 20px;
}
