@import '../_variable.scss';

html,body {
  margin: 0px;
  padding: 0px;

  * {
    box-sizing: border-box;
  }
}

.background-wnd-container {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  left: 0px;
  overflow-y: auto;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999999;

  .main-wnd-container {
    background: white;
    border: 1px solid darken($deni-dialog-base-color, 9);
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);


    color: darken($deni-dialog-base-color, 48);
    position: absolute;
  }

}
